PORT = 5000

APP_URL = your_app_url

BCRYPT_SALT_ROUNDS = your_bcrypt_salt_rounds

JWT_ACCESS_SECRET = your_jwt_access_secret
JWT_REFRESH_SECRET = your_jwt_refresh_secret
JWT_ACCESS_EXPIRES_IN = your_jwt_access_expires_in 
JWT_REFRESH_EXPIRES_IN = your_jwt_refresh_expires_in
DATABASE_URL=your_connection_string
STRIPE_SECRET_KEY = your_stripe_secret_key
STRIPE_WEBHOOK_SECRET = your_stripe_webhook_secret